div{
    background-color: black;
    display:inline-block;
    height: 60px;
    position: relative;
    top: 30px;

}

a{
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px 20px 30px;

}

a:hover{
    background-color: gray;
    color: black;
}

a.l1{
    display:inline-block;
    
}