@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Smooch+Sans:wght@100..900&display=swap');

*{
    background-color: antiquewhite;
    margin: .5%;
}
h1{
    text-align: center;
    border:0.5px solid ;
    border-radius: 20px;
    background-color: aliceblue;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
    font-size: 60px;
}

p{
    margin-bottom: 20px;
    text-indent: 40px;
    line-height: 1;
    font-family: "Smooch Sans", sans-serif;
    font-weight:bold;
    font-size: 30px;
}

#fundo-teste{
    height: 400px;
    background: url(../img/pexels-alinaskazka-28882396.jpg) center gray no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    border-radius:15px;
}

footer{
    margin-top: 40px;
}

a{
    margin-left: 50%;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover{
    background-color: gray;
}